body {
  background-color: #E3D4C0;
  text-align: center;
}
body .linkedin {
  margin-top: 40vh;
  font-size: 60px;
}
body .linkedin a i {
  color: black;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.5); }
